
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #3AAFA9;
    flex-direction: row;
}
.okoomotaca{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#js-timer{
    font-weight: bold;
    text-align: center;
    width: 100px;
    height: 50px;
    margin: 50px;
}
#timer{
    
    font-size: 30px;
    background-color: #3AAFA9;
    color:#17252A;
}
#moves{
    font-weight: bold;
    text-align: center;
    width: 100px;
    height: 50px;
    margin: 50px;
}
#move-counter{
    font-size: 30px;
    background-color: #3AAFA9;
    color:#17252A;
}
body button{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 20px;
    width: 150px;
    height: 50px;
    margin: 20px;
    background-color: #17252A;
    color:#FEFFFF;
    border-radius: 10px;
}
body button:hover{
    cursor: pointer;
    color: #DEF2F1;
    background-color: rgba(0,0,0,0.6);
    border: none;
}
.omotac{
    height: 400px;
    width: 400px;
    background: #DEF2F1;
    border-radius: 10px;
    padding: 25px;
}
.card, .cards, .view{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cards{
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cards .card{
    cursor: pointer;
    position: relative;
    perspective: 800px;
    transform-style: preserve-3d;
    height: calc(100% / 4 - 10px);
    width: calc(100% / 4 - 10px);
}
.card.shake{
    animation: shake 0.35s ease-in-out;
}
@keyframes shake{
    0%, 100%{
        transform: translateX(0);
    }
    20%{
        transform: translateX(-13px);
    }
    40%{
        transform: translateX(13px);
    }
    60%{
        transform: translateX(-8px);
    }
    80%{
        transform: translateX(8px);
    }
}
.cards .card .view{
    width: 100%;
    height: 100%;
    user-select: none;
    pointer-events: none;
    position: absolute;
    background: #FEFFFF;
    border-radius: 9px;
    backface-visibility:hidden;
    transition: transform 0.25s linear;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}
.card .front-view span{
    font-size: 40px;
    color: #17252A;
}
.card .back-view{
    transform: rotateY(-180deg);
}

.card .back-view img{
    max-width: 45px;
}
.card.flip .front-view{
    transform: rotateY(180deg);
}
.card.flip .back-view{
    transform: rotateY(0);
}